:root {
    --nav-link-color: #263238;
    --main-color: #000000;
    --grey-color: #939393;
    --button-and-title-color: #263238;
    --cart-bg-color: #F5F5F5;
    --text-color: #8F95A5;
    --number-color: #2A3246;
    --pricing-color: #EEEEEE;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

/*  !-------------- Navbar------------------- */

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}

.talk_button {
    border: 1px solid var(--button-and-title-color) !important;
    background-color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
}
.talk_button:hover {
    background-color: var(--button-and-title-color);
    color: #fff;
    transition: all 0.6s linear;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 100px !important;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: var(--button-and-title-color);
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav button {
    padding: -1px 8px 50px 12px;
    text-decoration: none;
    font-size: 20px;
    color: var(--button-and-title-color);
    display: block;
    transition: 0.3s;
    margin-left: 23px;
}

button.mobile-btn {
    border: 1px solid var(--button-and-title-color);
    background-color: #fff;
    color: #000;
    padding: 6px 40px;
    font-size: 12px;
    font-weight: 600;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .nav-brand {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.navbar-toggler {
    border: none;
}


/* !------------------------Home----------------------------- */

#home h1 {
    font-weight: bold;
    line-height: 50px;
}

#home p {
    color: var(--text-color);
}

#home .getStartBtn {
    background-color: var(--button-and-title-color);
    padding: 15px 30px;
    color: #fff;
    border: 1px solid var(--button-and-title-color) !important;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

.getStartBtn:hover {
    background-color: #fff !important;
    color: var(--button-and-title-color) !important;
    border: 1px solid var(--button-and-title-color) !important;
    transition: all 0.6s ease-in-out;
}

/* !-------------------------Skills------------------ */
#skills h1 {
    font-weight: bold;
}

#skills .speaking,
.listening,
.reading,
.writing {
    background-color: var(--cart-bg-color);
    border-radius: 10px;

}

#skills .cart p {
    color: var(--text-color);
}

#skills .cart img {
    height: auto !important;

}


#skills .cart-button {
    padding: 10px 20px;
    background-color: var(--button-and-title-color);
    border: none;
    color: #fff;
    border-radius: 5px;
}

.speaking,
.listening,
.writing,
.reading {
    height: 100% !important;
    padding: 20px 30px;
}

.image-c {
    height: 280px;
}

table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

th,
td {
    padding: 15px;
}


/* !---------------About---------------- */

#about h1 {
    font-weight: bold;
    line-height: 50px;
}

#about p {
    color: var(--text-color);
}

#about .about {
    line-height: 30px;
}

#about h3 {
    font-weight: bold;
    font-size: 35px;
}

/* !-----------------Pricing---------------- */

#pricing .cart {
    width: 100%;
    height: 480px;
    position: relative;
}

#pricing .cart h4 {
    font-weight: bold;
}

#pricing .cart img {
    height: 200px;
}

#pricing .cart button {
    position: absolute;
    bottom: 0;
    left: 23px;
    background-color: #EEEEEE;
    color: #546269;
}

#pricing .cart button span {
    color: #000;
}

/* !----------------Contact us---------------------- */

#contact .contact-us {
    line-height: 40px;
}

p {
    color: var(--text-color);
}

input[type="email"] {
    border: 1px solid var(--grey-color);
}

.form-control:focus {
    box-shadow: none !important;
}

.c-btn {
    background-color: var(--button-and-title-color);
    color: #fff;
}

.c-form {
    height: 50px !important;
}

.mobile-cart {
    display: none !important;
}


/* ! Footer */


@media (max-width: 990px) {
    .image-c {
        height: 100%;
    }

    #pricing .cart {
        width: 100%;
        height: 530px;
        position: relative;
    }

    .getStartBtn {
        width: 60% !important;
    }

    .mobile-cart {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .mobile-cart {
        display: none !important;
    }

    .collapse {
        display: none !important;
    }

    .navbar-nav,
    .talk_button {
        display: none !important;
    }

    .image-c {
        height: 150px;
    }

    #navbar {
        padding-left: 30px !important;
    }

    #home {
        padding-left: 30px !important;
    }

    .getStartBtn {
        width: 80% !important;
    }

    #skills {
        padding: 0 30px !important;
    }

    table h2 {
        font-weight: bold;
        padding-top: 15px;
        font-size: 20px;
    }

    table p {
        font-size: 13px;
    }

    .speaking,
    .listening,
    .writing,
    .reading {
        height: 100% !important;
        padding: 12px 20px;
        padding-bottom: 16px;
    }


    #about {
        padding-left: 30px !important;
    }

    #about p {
        font-size: 13px;
    }

    #about h3 {
        font-size: 20px;
    }

    #pricing {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    #pricing .cart {
        width: 100%;
        height: 500px;
        position: relative;
    }

    #pricing p {
        font-size: 13px;
    }

    #contact {
        padding-left: 30px !important;

    }

    #contact p {
        font-size: 13px;
    }

    #footer p{
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .image-c {
        height: 100%;
    }

    table {
        display: none !important;
    }

    .mobile-cart {
        display: block !important;
    }


    .mobile-cart .col-6 {
        height: 640px !important;
    }

   #skills .cart {
        background-color: #F5F5F5;
        padding: 20px 20px;
    }

    .col-12 {
        margin-top: 12px;
    }
        #pricing {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
       #contact {
         padding-left: 15px !important;
        padding-right: 15px !important;

    }
       #navbar {
       padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #home {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

     #about {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    #skills {
        padding: 0 10px !important;
    }

    #footer p{
        font-size: 10px;
    }

       #pricing .cart {
        width: 100%;
        height: 480px;
        position: relative;
    }


}